venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments

ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Environment variables
.env