@import "tailwindcss";


@theme{
    --color-mycolor-100:#b392bb;
    --color-mycolor-200:#2a2131;
    --color-mycolor-300:#f9f9fa;
    --color-mycolor-400:#764f9b;
    --color-mycolor-500:#8e7bbc;
    --color-mycolor-600:#bab6dd;
    --color-mycolor-700:#d2c1dc;
}